<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Categorias</title>
    </head>
    <body>
        <h1>CATEGORIAS &#128165;</h1>
        {% if lista_categorias %}
        <ul>
            {% for categoria in lista_categorias %}
                {{ forloop.counter }}
                    <a href="{% url 'webcook:categoriadetalle' categoria.id %}">{{ categoria.NomCat}}</a>
                <br>
            {% endfor %}
        </ul>
        {% else %}
            <p>No hay categorias definidas.</p>
        {% endif %}
    </body>
</html>