<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Categorias</title>
    </head>
    <body>
        {% if lista_categorias %}
        <ul>
            {% for categoria in lista_categorias %}
            <li>
                <a href="{% url 'webcook:categoriadetalle' categoria.id %}">{{ categoria.NomCat}}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
            <p>No hay categorias definidas.</p>
        {% endif %}
    </body>
</html>