<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Dificultades</title>
    </head>
    <body>
        <h1>NIVELES DE DIFICULTAD &#128681;</h1>
        {% if lista_dificultades %}
        <ul>
            {% for dificultad in lista_dificultades %}
                {{ forloop.counter }}
                    <a href="{% url 'webcook:dificultaddetalle' dificultad.id %}">{{ dificultad.NomDif}}</a>
                <br>
            {% endfor %}
        </ul>
        {% else %}
            <p>No hay dificultades definidas.</p>
        {% endif %}
    </body>
</html>