<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Ingredientes recetas</title>
    </head>
    <body>
        <h1>INGREDIENTES DE LA RECETA &#127860;</h1>
        {% if lista_ingredientes_receta %}
                
                <table border="1" width="30%" style="text-align: center;">
                    <!-- <thead>{{ forloop.counter }}
                        <tr><th>{{ingredientereceta.RecId}}</th></tr>
                    {% endfor %}
                    </thead> -->
                    <tbody>
                        {% for ingredientereceta in lista_ingredientes_receta %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'webcook:ingredientes_recetadetalle' ingredientereceta.id %}">{{ ingredientereceta.IngId_fk}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table> 
        
        {% else %}
            <p>No hay ingredientes receta definidos.</p>
        {% endif %}        
        
    </body>
</html>