<!doctype html>
<html lang="en=US">
    <head>
        <meta charset="utf-8" />
        <title>Ingredientes recetas detalle</title>
    </head>
    <body>
        <h1>{{ingredientereceta.IngId_fk}}</h1>

        <h3> Ingrediente de la receta: {{ ingredientereceta.RecId }} </h3> 
        <h3>Nombre del ingrediente: {{ ingredientereceta.IngId_fk}}</h3>
        <h3>Cantidad: {{ ingredientereceta.PesoIng}}</h3>
        <h2>&#128298;</h2>
        <a href="{% url 'webcook:ingredientes_receta' %}"> volver</a>
    </body>
</html>