<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Recetas</title>
    </head>
    <body>
        <h1>MIS RECETAS PREFERIDAS &#127775;</h1>
        {% if lista_recetas %}
        <ul>
            {% for receta in lista_recetas %}
                {{ forloop.counter }}
                    <a href="{% url 'webcook:recetadetalle' receta.id %}">{{ receta.NomRec}}</a>
                <br>
            {% endfor %}
        </ul>
        {% else %}
            <p>No hay recetas definidas.</p>
        {% endif %}
    </body>
</html>