<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <title>Temporadas</title>
    </head>
    <body>
        <h1>TEMPORADAS &#127809;</h1>
        {% if lista_temporadas %}
        <ul>
            {% for temporada in lista_temporadas %}
                {{ forloop.counter }}
                    <a href="{% url 'webcook:temporadadetalle' temporada.id %}">{{ temporada.NomTemp}}</a>
                <br>
            {% endfor %}
        </ul>
        {% else %}
            <p>No hay temporadas definidas.</p>
        {% endif %}
    </body>
</html>